button,a{outline: none}
.login_body {
        width: 100%;
        height: 100%;
        background: url("../images/bg.png") no-repeat top center;
        background-size: cover;
        overflow: hidden;
        position: fixed;
        font-family: 'Micosoft yahei'
    }

    .denglu {
        width: 400px;
        height: 424px;
        margin: 0 auto;
        background: url("../images/denglu.png") no-repeat top center;
        overflow: hidden;
        position: absolute;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .denglu h4 {
        text-align: center;
        margin: 45px 0 23px 0;
        color: #535353;
        font-weight: 800;
        font-size: 22px
    }

    .denglu .item {
        text-align: center;
        margin-bottom: 20px
    }

    .denglu .input {
        width: 310px;
        height: 42px;
        font-size: 14px;
        line-height: 42px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 0 10px;
        font-family: 'microsoft yahei';
    }

    .denglu .input.wd190 {
        width: 190px;
        margin-right: 10px
    }

    .denglu img.code {
        width: 105px;
        height: 42px;
        vertical-align: middle;
        border: 0px solid #ddd;
        border-radius: 3px;
        margin-top: -3px
    }

    .denglu .button {
        margin: 20px auto 10px auto;
        text-align: center;
        cursor: pointer;
        width: 336px;
        height: 46px;
        background: url("../images/button.png") no-repeat;
        background-size: cover;
        border:0;
        display: block;
    }

    .denglu .button img {
        width: 336px
    }

    .denglu .copy {
        width: 336px;
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
        word-spacing:2px;
        font-family: 'microsoft yahei'
    }

    ;
}