body,html{height: 100%;margin:0;padding:0;}
.main_box{overflow: hidden;height: 100%;position: relative;}
.main_box a{color:#000;outline:none}
.main_box a:hover{color:#2d93ca;}
/*顶部样式*/
.main_box .header{border-bottom:1px solid #ddd;padding:0 15px;overflow: hidden;height: 50px;line-height: 50px;position: relative;}
.main_box .header .logo{font-size: 16px;width:165px;float: left;}
.logo .fa-bars{cursor: pointer;padding-left: 15px;}
.main_box .header .right{float: right;width: 500px;text-align: right;}
.main_box .header .right .login_out{color:#3580e0;margin-left: 10px;}
.main_box .header .right .login_out:hover{text-decoration: underline;}
.main_box .content{overflow: hidden;overflow-y: auto}
/*左侧导航*/
.main_box .left_nav{width: 180px;height:100%;float: left;position: fixed;background:#333744;overflow-y:auto;}
.main_box .left_nav .nav_item{height: 40px;line-height:40px;cursor: pointer;background: #42485b;color:#fff;}
.main_box .left_nav .nav_item:hover{background:#00c1de;color:#fff;}
.main_box .left_nav .nav_item i{margin:0 8px 0 20px;display: inline-block;}
.main_box .left_nav ul{display: none;}
.main_box .left_nav li{height: 40px;line-height:40px;text-align: center;}
.main_box .left_nav li a{display: block;color:#fff;}
.main_box .left_nav li a.current,.main_box .left_nav li a.current:hover{background:#00c1de;color:#fff;}
.main_box .left_nav li a:hover{background:#4e556b;color:#fff;}
.main_box .content .iframe{height:100%;padding:10px 15px;overflow: hidden;margin-left: 180px;}
.crumbs {margin-bottom: 20px}
.crumbs a{color:#197bb1;font-size: 14px;}
.crumbs a:hover{color:#2d93ca;text-decoration: underline;}

/*表格*/
.content table{border:1px solid #999;}
.content table thead{background: #009f95;color: #fff;}
.content table thead tr{border: #009f95 2px solid;}
.content table th{border-bottom:0;width:100px;}
.content table th.wd50{width: 50px}
.content table th.wd150{width: 150px}
.content table th.wd200{width:200px}
.content table th.wd300{width:300px}
.content table td {font-family:-webkit-pictograph}
.content table td .pass{color:#fff;margin-right: 10px;background:#009f95;padding:5px 10px;border-radius: 3px}
.content table td .reject{color:#fff;background:#9f0057;padding:5px 10px;border-radius: 3px}
.content table td .edit{color:#fff;background:#197bb1;padding:5px 10px;border-radius: 3px}
.content table td .del{color:#fff;background:#e81010;padding:5px 10px;border-radius: 3px}
.content table td .unclick{background: #a09e9e;padding:5px 10px;border-radius: 3px;color:#efebeb;}
.content table td .pass:hover{background: #088a82}
.content table td .reject:hover{background: #860b4e}
.content table td .edit:hover{background: #065f90}
.content table td .del:hover{background:#c50606}
.content table td.link a{color:#009f95;}
.content table td.link a:hover{text-decoration: underline;}
.content .button .add{color:#009f95;margin-bottom: 10px;display: inline-block;font-size: 16px;}
.content .button .add:hover{text-decoration: underline;}
